@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  font-family: "Manrope", sans-serif !important;
}

html,
body,
.mantine-Navbar-root,
nav,
.mantine-Navbar-root .mantine-Navbar-hidden .mantine-fqk34n,
.mantine-Text-root .mantine-1cau8qt,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif !important;
}

input {
  font-weight: 500 !important;
  font-family: "Manrope", sans-serif !important;
}
